[submodule "BciPy"]
	path = BciPy
	url = https://github.com/madhavlolla/BciPy/BciPy.git
[submodule "RE1"]
	path = RE1
	url = https://github.com/madhavlolla/RE1.git
[submodule "fairo"]
	path = fairo
	url = https://github.com/madhavlolla/fairo
